{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-sm">
			<h1><a href="https://github.com/flackdl/ifit-garmin-sync">iFit Garmin Sync</a></h1>
		</div>
		<div class="col-sm">
			<a href="{% url 'export-workouts' %}" class="btn btn-success">Queue sync</a>
		</div>
	</div>
	{% if missing_settings %}
		<div class="alert alert-danger">You're missing some or all required settings: IFIT_USER, IFIT_PASS, GARMIN_USER, GARMIN_PASS</div>
	{% endif %}
	{% if workouts %}
		<table class="table">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Completed</th>
				<th scope="col">Synced</th>
			</tr>
			{% for workout in workouts %}
				<tr>
					<td>{{ workout.name }}</td>
					<td>{{ workout.date_created }}</td>
					<td>{{ workout.date_synced }}</td>
				</tr>
		{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-info">No workouts have been exported yet.</div>
	{% endif %}
{% endblock %}
