<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iFit Garmin Sync</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="container">
	<div class="row">
		<div class="col-sm">
			<h1><a href="https://github.com/flackdl/ifit-garmin-sync">iFit Garmin Sync</a></h1>
		</div>
		<div class="col-sm">
			<a href="{% url 'export-workouts' %}">Queue sync</a>
		</div>
	</div>
	{% if missing_settings %}
		<div class="alert alert-danger">You're missing some or all required settings: IFIT_USER, IFIT_PASS, GARMIN_USER, GARMIN_PASS</div>
	{% endif %}
	{% if workouts %}
		<table class="table">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Completed</th>
				<th scope="col">Synced</th>
			</tr>
			{% for workout in workouts %}
				<tr>
					<td>{{ workout.name }}</td>
					<td>{{ workout.date_created }}</td>
					<td>{{ workout.date_synced }}</td>
				</tr>
		{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-info">No workouts have been exported yet.</div>
	{% endif %}
</body>
</html>
